<div>
  <h3>
    Pay with your bank card with
    <%= image_tag(payment_method.preferred_image_url) %>
  </h3>
  <br>
  <h5>
    Payment instructions will be displayed after you click 'Save and Continue'.
  </h5>
</div>

<hr>